.env
pycache/
*.pyc
*.log
*.log.*
.idea/

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
src/tempDownloads/*
### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Python
__pycache__
app/__pycache__
# CI
.circleci

# Python notebook checkpoints
.ipynb_checkpoints

# ENV
.env
.env-prod
# Config
.kube
.jupyter

# Misc
README_ref.md
out


.vscode